<div style="text-align: center;">
  <h1> Employee Management</h1>
  <hr>
</div>



<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      
        <button class="btn btn-outline-secondary" type="submit" routerLink="employee">Employee List</button>
    
    </div>
  </div>
</nav>













<router-outlet></router-outlet>
